h1 {
    font-size: 3rem;
}

body {
    position: relative;
    top: 220%;
    padding-top: 0.5px;
    padding-bottom: 150px;
    background-color: lightpink;
    align-content: center;
    letter-spacing: 1px;
    width: 100%;
    align-self: auto;
}

html {
    width: 100%;
    align-content: center;
}